@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(197, 214, 255);
    background: linear-gradient(90deg, rgba(197, 214, 255, 1) 0%, rgba(0, 112, 254, 1) 50%, rgba(197, 214, 255, 1) 100%);
    color: white;
}